<div class="jumbotron">
  Create a new post:
  <br>
  <br>
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.text_area :title, placeholder: "Title", class: "in-line" %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, placeholder: "...", class: "in-line" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
